/*============================================================================*/
/*                              General css                                   */
/*============================================================================*/

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.links{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
    background: #e0e4f0;
}

/*============================================================================*/
/*       Customize bg-info to present bigger                                  */
/*============================================================================*/

.bg-info{
    padding: 15px;
}

/*============================================================================*/
/*       Customize related results in search                                  */
/*============================================================================*/

#related_search{
    font-size: 11px;
}


/*============================================================================*/
/*       Customize link panel                                                 */
/*============================================================================*/

#link-panel{
    border-color: transparent;
    box-shadow: none;
}

#link-heading{
    background-image: none;
    background-color: transparent;
}

/*============================================================================*/
/*          Change background image from control of carousels                 */
/*============================================================================*/

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.carousel-control{
    width: 4%;
}


/*============================================================================*/
/*          Control position and color for the admin button in templates      */
/*============================================================================*/

.sb-toggle-left {
    position: fixed;
    color: gray;
    top: 15px;
    left: 0px;
    z-index: 1031;
}

#sb-site {
    transform: none;
}