django>=1.8
coverage
coveralls
mock>=1.0.1
flake8>=2.1.0
tox>=1.7.0

# Additional test requirements go here
django-ckeditor
django-admin-bootstrapped
django-bootstrap3
django-taggit
tinycss
beautifulsoup4
-e git+http://github.com/lefterisnik/django-loosecms-style/#egg=django-loosecms-style