body {
    padding: 0 !important;
    background-color: #fff;
}

.sb-toggle-left {
    position: fixed;
    color: gray;
    top: 15px;
    left: 0px;
    z-index: 1031;
}

#sb-site {
    transform: none;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}