{% extends "admin/base_site.html" %}
{% load i18n staticfiles cms_tags %}

{% block title %}{% trans "Edit page" %}{% endblock %}

{% block bootstrap_admin_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'loosecms/external/bootstrap/css/bootstrap.min.css' %}" />
{% endblock %}

{% block extrastyle %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"  />
  <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'loosecms/external/jspanel/jspanel/jquery.jspanel.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loosecms/external/slidebars/slidebars.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loosecms/external/metismenu/metisMenu.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loosecms/loosecms/css/metismenu-demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loosecms/loosecms/css/admin/style.css' %}" />
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_staff %}
        {% comment %}TODO: get out sb-site form parent container show > stick to left side{% endcomment %}
        <div id="sb-site">
            <span class="glyphicon glyphicon-menu-right sb-toggle-left" aria-hidden="true"></span>
    {% endif %}

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="list-group">
                            <a class="add-page list-group-item" href="{% url 'admin:loosecms_htmlpage_add' %}" data-type="0" data-slug="{{ page_slug }}" data-template="checked">{% trans "Create new template page" %}</a>
                            <a class="add-page list-group-item" href="{% url 'admin:loosecms_htmlpage_add' %}" data-type="0" data-slug="{{ page_slug }}">{% trans "Create new page" %}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group">
                            {% render_template_admin %}
                        </ul>
                    </div>
                </div>
            </div>

    {% if user.is_authenticated and user.is_staff %}
        </div>
        <div class="sb-slidebar sb-left sb-style-overlay">
            <nav class="sidebar-nav">
                <ul id="menu">
                    <li class="active">
                        <a href="#">{% trans "Actions" %}<span class="glyphicon arrow"></span></a>
                        <ul>
                            <li><a class="add-page" href="{% url 'admin:loosecms_htmlpage_add' %}" data-type="0" data-slug="{{ page_slug }}" data-template="checked">{% trans "Create new template page" %}</a></li>
                            <li><a class="add-page" href="{% url 'admin:loosecms_htmlpage_add' %}" data-type="0" data-slug="{{ page_slug }}">{% trans "Create new page" %}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">{% trans "Admin" %}<span class="glyphicon arrow"></span></a>
                        <ul>
                            <li>
                                <a href="#">{% trans "List html pages" %}<span class="glyphicon arrow"></span></a>
                                <ul>
                                    {% for page in pages %}
                                    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                    <li><a target="_blank" href="{% url 'admin:loosecms_htmlpage_changelist' %}?is_template__exact=0">{% trans "List all" %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">{% trans "List template pages" %}<span class="glyphicon arrow"></span></a>
                                <ul>
                                    {% for page in template_pages %}
                                    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                    <li><a target="_blank" href="{% url 'admin:loosecms_htmlpage_changelist' %}?is_template__exact=1">{% trans "List all" %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'loosecms/external/jspanel/jspanel/jquery.jspanel.min.js' %}"></script>
<script src="{% static 'loosecms/external/slidebars/slidebars.min.js' %}"></script>
<script src="{% static 'loosecms/external/metismenu/metisMenu.min.js' %}"></script>
<script>
    var django = django || {};
    django.jQuery = jQuery.noConflict(true);
</script>
<script src="{% static 'loosecms/loosecms/js/admin/javascript.js' %}"></script>
{% endblock %}