{% extends "admin/change_form.html" %}
{% load i18n staticfiles cms_tags admin_urls admin_static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{% static 'loosecms/loosecms/css/admin/editor/editor.base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'loosecms/loosecms/css/admin/site/loosecms.filemanager.css' %}" />
{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
    (function($) {
        $(document).ready(function() {
            var selector = "#" + window.opener.select_field_id;
            var selector_options = selector + " option";
            var parent_path = window.opener.path;

            datatable = $('.table-datatable').DataTable();

            $(selector_options, opener.document).each(function()
            {
                if ($(this).val() !== ''){
                    full_path = parent_path + $(this).html();

                    if ($(this).html().match(/\//g).length === 1 ){
                        var array = $(this).val().split(/\//g);
                        var path = array[0];
                        var name = array[1];
                    } else {
                        var array = $(this).val().split(/\//g);
                        var path = array.slice(0, -1).join('/');
                        var name = array[array.length-1];
                    }

                    datatable.row.add( [
                        name,
                        path,
                        full_path,
                    ] ).draw();
                }
            });

            // propagate data to parent window select
            {% for doc in docs %}
            var tmp = "{{ doc.1 }}/{{ doc.0 }}"
            var array = tmp.split(/\//g);
            if (array.length > 2){
                var tmp_text = "/" + array.slice(1, -1).join('/');
            } else {
                var tmp_text = "/" + array[1];
            }
            var text = tmp_text;
            var value = tmp;
            var option = new Option(text, value);
            $(selector, opener.document).append($(option));
            {% endfor %}


            $('.table-datatable tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    datatable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#button_select').on('click', function(e){
                e.preventDefault();
                if (datatable.rows('.selected').data().length !== 0){
                    var option = $.map(datatable.rows('.selected').data(), function (item) {
                        return item[1] + '/' + item[0];
                    });

                    $(selector, opener.document).val(option);
                    self.close();
                } else {
                    alert('You must select on file or close the window');
                }
            });
        });
    }) (jQuery);
</script>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{{ form_url }}" method="post" role="form" novalidate>{% csrf_token %}
    <div class="col-sm-9 form-fields">
        <div class="panel panel-default form-panel">
            <div class="panel-body">
                {% if errors %}
                <div class="alert alert-danger">
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </div>
                {% endif %}

                <div id="content-main">
                    <div>
                        <div class="row">
                            <div class="control-group field-document">
                                <div class="col-md-12 form-group">
                                    <div class="control-label col-md-3">
                                        <label for="id_document">Upload file</label>
                                    </div>
                                    <div class="controls col-md-9">
                                        <input type="file" id="id_document" name="document">
                                        {% if 'id_document' in errors %}
                                            <p class="help-block error">{{ errors|get_dict_value:"id_document" }}</p>
                                        {% endif %}
                                        <span class="help-block">Upload a new file.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-group field-upload_to hidden">
                                <div class="col-md-12 form-group">
                                    <div class="control-label col-md-3">
                                        <label for="id_upload_to">Upload to</label>
                                    </div>
                                    <div class="controls col-md-9">
                                        <input type ="hidden" id="id_upload_to" name="upload_to" value="{{ upload_to }}">
                                        {% if 'id_upload_to' in errors %}
                                            <p class="help-block error">{{ errors|get_dict_value:"id_upload_to" }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-group">
                                <div class="col-md-12 form-group">
                                    <div class="control-label col-md-3">
                                        <label for="id_table">Select one of the existing files</label>
                                    </div>
                                    <div class="controls col-md-9">
                                        <table id="id_table" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-condensed table-datatable">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Root Path</th>
                                                    <th>Full Path</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for doc in docs %}
                                                    <tr>
                                                        {% for attr in doc %}
                                                        <td>{{ attr }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 form-actions">
        <div data-spy="affix" data-offset-top="125">
            <div class="list-group">
                <button type="submit" title="{% trans 'Save' %}" class="list-group-item active" name="_save">
                    {% trans 'Save' %}
                </button>
                <button type="submit" id="button_select" title="{% trans 'Select' %}" class="list-group-item" name="_select">
                    {% trans 'Select' %}
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}