{% extends "template.html" %}
{% load i18n cms_tags staticfiles %}

{% block extra_css %}
        <link href="{% static 'loosecms/external/slidebars/slidebars.min.css' %}" rel="stylesheet" />
        <link href="{% static 'loosecms/external/metismenu/metisMenu.min.css' %}" rel="stylesheet" />
        <link href="{% static 'loosecms/loosecms/css/metismenu-demo.css' %}" rel="stylesheet" />
{% endblock %}


{% block admin_header %}
        <div id="sb-site">
            <span class="glyphicon glyphicon-menu-right sb-toggle-left" aria-hidden="true"></span>
{% endblock %}

{% block admin_footer %}
        </div>
        <div class="sb-slidebar sb-left sb-style-overlay">
            <nav class="sidebar-nav">
                <ul id="menu">
                    <li class="active">
                        <a href="{% url 'admin:admin_edit_page' page.pk %}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            {% trans 'Edit' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}">
                        <span class="sidebar-nav-item-icon glyphicon glyphicon-home" aria-hidden="true"></span>
                        {% trans 'Admin index' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin:logout' %}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-off" aria-hidden="true"></span>
                            {% trans 'Logout' %}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
{% endblock %}


{% block extra_js %}
        <script src="{% static 'loosecms/external/slidebars/slidebars.min.js' %}"></script>
        <script src="{% static 'loosecms/external/metismenu/metisMenu.min.js' %}"></script>
        <script>
            var django = django || {};
            django.jQuery = jQuery.noConflict(true);
        </script>
        <script src="{% static 'loosecms/loosecms/js/admin/javascript.js' %}"></script>
{% endblock %}