body {
    padding-top: 70px !important;
    padding-bottom: 20px !important;
}

.jsPanel > .panel-body{
    padding: 0;
}

.affix {
    top: 10px;
}

.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}